// Default font
$fontFamily: 'Roboto';

// Variables
$headerColor: #0a2e61;
$mainColor: #212139;
$footerColor: #0a2e61;
$titleColor: #818181;
$textColor: #cdcdcd;
$errorColor: #ff0000;
$tableBorderColor: #a5a0a0;
$tableBackgroundColor: #525254;
$selectColor: #3a8d4f;
$rotorArrowColor: #8613f1;