@import '../../styles/variables';
  
.disk {
  position: relative;
  width: 80%;
  padding: 40% 0;
  margin: 10% auto;
  font-size: 32px;

  &__arrow {
    position: absolute;
    right: 0;
    top: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 150px solid $rotorArrowColor;
  }

  &__value {
    position: absolute;
    left: 50%;
    width: 32px;
    /*border: 1px solid red;*/
    text-align: center;
  }

  &__value:nth-of-type(n) {
    bottom: 50%;
    transform-origin: 50% 100%;
    padding-bottom: 50%;
  }

  &__value:nth-of-type(1) {
    transform: rotate(0deg);
  }

  &__value:nth-of-type(2) {
    transform: rotate(13.846deg);
  }

  &__value:nth-of-type(3) {
    transform: rotate(27.692deg);
  }

  &__value:nth-of-type(4) {
    transform: rotate(41.538deg);
  }

  &__value:nth-of-type(5) {
    transform: rotate(55.384deg);
  }

  &__value:nth-of-type(6) {
    transform: rotate(69.23deg);
  }

  &__value:nth-of-type(7) {
    transform: rotate(83.076deg);
  }

  &__value:nth-of-type(8) {
    transform: rotate(96.922deg);
  }

  &__value:nth-of-type(9) {
    transform: rotate(110.768deg);
  }

  &__value:nth-of-type(10) {
    transform: rotate(124.614deg);
  }

  &__value:nth-of-type(11) {
    transform: rotate(138.46deg);
  }

  &__value:nth-of-type(12) {
    transform: rotate(152.306deg);
  }

  &__value:nth-of-type(13) {
    transform: rotate(166.152deg);
  }

  &__value:nth-of-type(14) {
    transform: rotate(179.998deg);
  }

  &__value:nth-of-type(15) {
    transform: rotate(193.844deg);
  }

  &__value:nth-of-type(16) {
    transform: rotate(207.69deg);
  }

  &__value:nth-of-type(17) {
    transform: rotate(221.536deg);
  }

  &__value:nth-of-type(18) {
    transform: rotate(235.382deg);
  }

  &__value:nth-of-type(19) {
    transform: rotate(249.228deg);
  }

  &__value:nth-of-type(20) {
    transform: rotate(263.074deg);
  }

  &__value:nth-of-type(21) {
    transform: rotate(276.92deg);
  }

  &__value:nth-of-type(22) {
    transform: rotate(290.766deg);
  }

  &__value:nth-of-type(23) {
    transform: rotate(304.612deg);
  }

  &__value:nth-of-type(24) {
    transform: rotate(318.458deg);
  }

  &__value:nth-of-type(25) {
    transform: rotate(332.304deg);
  }

  &__value:nth-of-type(26) {
    transform: rotate(346.15deg);
  }
}

.disk-container {
  position: absolute;
  width: 50%;
  top: 45%;
  left: 25%;
}

.disk-small {
  width: 100%;
  padding: 0;
}